main{
    background-color: white;
    margin: 0 auto;
}

.features{
    width: 100%;
    background-color: rgb(249, 247, 244);
    padding: 50px 0;
}

.features hgroup{
    text-align: center;
}

.features hgroup h2{
    color: #3b3d42;
    font-size: 40px;
}

.features hgroup h3{
    color: rgba(57,70,79,0.64);
    font-size: 24px;
    margin-bottom: 24px;
}

.features section{
    max-width: 1230px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 20px;
}

.features section article {
    flex-basis: 24%;
    text-align: center;
}

.features section article h3 {
    padding: 10px 0;
    color: #3b3d42;
    font-size: 24px;
    font-weight: 700;
}

.features section article p {
    font-size: 14px;
    line-height: 1.6;
    padding: 10px 0;
}

.features section article img {
    margin: 20px;
}

.about-us section{
    max-width: 1230px;
    margin: auto;
    width: 95%;
    padding: 20px 0;
}

.about-us section h2{
    margin: 20px 0;
}

.about-us section img{
    width: 49%;
    margin-right: 10px;
    float: left;
}

.about-us section p{
    text-align: justify;
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 35px;
}

footer{
    clear: both;
}

@media screen and (max-width: 765px) {
    .features hgroup{
        margin-top: 80px;
    }
    .features section{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .features section article {
        padding-top: 30px;
        padding-bottom: 20px;
        flex-basis: 48%;
        text-align: center;
    }
    .about-us section{
        text-align: center;
    }
    .about-us section img{
        width: 97%;
        margin-right: 0;
        float: none;
    }
    .about-us section p{
        width: 97%;
        text-align: justify;
        margin: auto;
    }
}