main{
    background-color: white;
    max-width: 1230px;
    padding: 30px 0;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr;

}

section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 10px;
}

section h2 {
    flex-basis: 100%;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 1.4;
    font-family: Roboto, sans-serif;
    letter-spacing: 0px;
    text-align: inherit;
    color: #3b3d42;
}

section article {
    margin-top: 40px;
    margin-bottom: 10px;
}

section article h3 {
    margin: 15px 0;
    font-size: 15px;
    color: rgb(184, 51, 51);
}

section article p {
    font-size: 12px;
    margin-bottom: 15px;
    line-height: 1.6;
}

section article img {
    width: 100%;
    margin: 0;
}

section article a{
    font-size: 12px;
    background-color: black;
    color: white;
    padding: 8px 25px 7px;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 4px;
    transition: all 0.3s ease;
}

section article a:hover{
    background-color: rgb(184, 51, 51);
}

section article .posted-on{
    color: #a1a2a4;
    font-size: 14px;
    float: right;
}

aside #checkbox-archives, .toggle, .close {
    display: none;
}

aside{
    margin-left: 10px;
}

aside nav h3 {
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 25px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
    font-family: Roboto, sans-serif;
    letter-spacing: 0px;
    text-align: inherit;
    color: #3b3d42;
}

aside nav li {
    list-style-type: none;
    padding: 5px 0;
}

aside nav a {
    text-decoration: none;
    color: #3b3d42;
}

@media screen and (max-width: 765px) {
    main{
        grid-template-columns: 0fr 2fr;
    }
    aside{
        margin-left: 0;
    }
    aside .close{
        visibility: hidden;
    }
    aside .toggle {
        clear: both;
        display: flex;
        justify-content: center;
        align-items: center;  
        height: 35px;
        width: 35px;
        font-size: 14px;
        background-color: rgb(184, 57, 57);
        border-radius: 4px;
        position: fixed;
        z-index: 3;
        top: 10px;
        left: 10px;
    }
    body #checkbox-archives:checked{
        position:fixed; 
        overflow:hidden;
    }
    aside #checkbox-archives:checked+label .touch li {
        opacity: 1;
        visibility: visible;
        transition: all 0.7s linear;
    }
    aside #checkbox-archives:checked+label .touch {
        width: 300px;
        height: 100%;
    }
    aside #checkbox-archives:checked+label .toggle{
        visibility: hidden;
    }
    aside #checkbox-archives:checked+label .close{
        visibility: visible;
    }
    aside .archives {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 2;
        width: 0;
        height: 100%;
        background-color: white;
        transition: width 0.3s linear;
    }
    aside .archives li {
        opacity: 0;
        visibility: hidden;
        text-align: center;
        margin: 15px 0;
        list-style-type: none;
    }
    aside .archives li h3{
        font-size: 20px;
    }
    aside .archives a {
        width: 100%;
        padding: 10px 15px;
        color: black;
        text-decoration: none;
    }
    section {
        margin: 50px 10px 0 10px;
    }
    section h2{
        margin-top: 50px;
    }
}