* {
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
}

body, html {
    overflow-x: hidden;
    background-color: rgb(206, 206, 206);
}

main{
    position: relative;
    z-index: 2;
}

header {
    background-color: white;
    width: 100%;
    position: absolute;
    z-index: 2;
}

header .site-header__wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1230px;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

header .site-header__wrap nav {
    margin: 0 auto;
    width: 400px;
    height: 100%;
}

header #checkbox-menu, .toggle {
    display: none;
}

header .logo {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

header .logo li a {
    text-decoration: none;
    align-self: center;
    padding: 10px 5px;
}

header .logo-img {
    height: 80px;
}

header .logo-caption {
    font-family: Mistral, cursive;
    color: rgb(204, 51, 51);
    font-size: 50px;
}

header .menu {
    padding: 0;
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}

header .menu li a {
    color: #000;
    text-decoration: none;
    align-self: center;
    font-size: 15px;
    padding: 10px 15px;
}

header .menu li a:hover {
    color: rgb(204, 51, 51);
}

.background-picture{
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 1;
}

.main-title{
    text-align: center;
    margin: 235px auto;
    color: white;
}

.building{
    width: 100%;
    background-color: white;
}

.building section {
    max-width: 1230px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    bottom: 75px;
}

.building section a {
    background-color: rgb(184, 57, 57);
    text-decoration: none;
    color: white;
    padding-top: 30px;
    padding-bottom: 0px;
    flex-basis: 24%;
    position: relative;
    bottom: 0;
    transition: all 0.3s ease;
    vertical-align: bottom;
}

.building section a:hover{
    bottom: 20px;
}

.building section article h2 {
    padding: 10px 30px;
    line-height: 1.2;
    font-size: 17px;
}

.building section article p {
    padding: 10px 30px;
    line-height: 1.2;
}

.building section article img {
    width: 100%;
    margin: 0;
    vertical-align: middle;
}

.features{
    width: 100%;
    background-color: rgb(249, 247, 244);
    padding: 50px 0;
}

.features hgroup{
    text-align: center;
}

.features hgroup h2{
    color: #3b3d42;
    font-size: 40px;
}

.features hgroup h3{
    color: rgba(57,70,79,0.64);
    font-size: 24px;
    margin-bottom: 24px;
}

.features section{
    max-width: 1230px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 20px;
}

.features section article {
    flex-basis: 24%;
    text-align: center;
}

.features section article h3 {
    padding: 10px 0;
    color: #3b3d42;
    font-size: 24px;
    font-weight: 700;
}

.features section article p {
    font-size: 14px;
    line-height: 1.6;
    padding: 10px 0;
}

.features section article img {
    margin: 20px;
}

.news{
    background-color: white;
    padding: 50px 5px;
}

.news section{
    max-width: 1230px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.news section h2 {
    flex-basis: 100%;
    padding-bottom: 40px;
}
.news section article {
    flex-basis: 32.5%;
}

.news section article h3 {
    margin: 15px 0;
    font-size: 15px;
    color: rgb(184, 51, 51);
}

.news section article p {
    font-size: 12px;
    margin-bottom: 15px;
    line-height: 1.6;
}

.news section article img {
    width: 100%;
    margin: 0;
}

.news section article a{
    font-size: 12px;
    background-color: black;
    color: white;
    padding: 8px 25px 7px;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 4px;
    transition: all 0.3s ease;
}

.news section article a:hover{
    background-color: rgb(184, 51, 51);
}

footer{
    background-color: rgb(249, 247, 244);
}

footer .site-footer__wrap{
    max-width: 1230px;
    margin: 0 auto;
    padding-top: 40px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

footer .site-footer__wrap .footer-item{
    flex-basis: 32%;
}

footer .site-footer__wrap .describtion a{
    text-decoration: none;
    font-family: Mistral, cursive;
    font-size: 50px;
    color: rgb(184, 51, 51);
}

footer .site-footer__wrap .describtion p{
    max-width: 250px;
    font-size: 12px;    
    line-height: 2;
    color: rgb(129, 129, 129);
}

footer .site-footer__wrap .contact-us h2{
    margin-top: 15px;
}

footer .site-footer__wrap .contact-us ul{
    width: 100%;
    font-size: 14px;    
    line-height: 1.6;
    list-style-type: none;
}

footer .site-footer__wrap .contact-us ul li{
    margin: 10px 0;
    width: fit-content;
    color: rgb(129, 129, 129);
}

footer .site-footer__wrap .contact-us ul li:hover{
    color: rgb(184, 51, 51);
}

footer .footer-item i{
    color: rgb(184, 51, 51);
    margin-right: 10px;
}

footer .site-footer__wrap nav ul{
    width: 100%;
    margin-top: 15px;
    font-size: 14px;    
    list-style-type: none;
    text-transform: uppercase;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-auto-flow: column;
}

footer .site-footer__wrap nav ul li{
    margin: 5px 0;
}

footer .site-footer__wrap nav ul li a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
    transition: all 0.3s ease;
}

footer .site-footer__wrap nav ul li a:hover{
    color: rgb(184, 51, 51);
}

footer .footer-copyright{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 40px 10px 20px;
}

footer .footer-copyright p{
    color: rgb(129, 129, 129);
    font-size: 12px;
}

footer .footer-copyright ul li{
    display: inline;
    margin: 5px 10px;
}

footer .footer-copyright ul li a{
    text-decoration: none;
    list-style-type: none;
    display: inline;
    padding: 5px 5px;
    color: rgb(129, 129, 129);
    transition: all 0.3s ease;
}

footer .footer-copyright ul li a:hover{
    color: rgb(184, 51, 51);
}

@media screen and (max-width: 765px) {
    header {
        background-color: white;
        width: 100%;
        position: absolute;
        z-index: 2;
    }
    header .toggle {
        clear: both;
        display: block;
        text-align: center;
        font-size: 18px;
        line-height: 40px;
        width: 100%;
        background-color: white;
    }
    header #checkbox-menu:checked+label .touch li {
        opacity: 1;
        visibility: visible;
        transition: all 0.7s linear;
    }
    header #checkbox-menu:checked+label .touch {
        height: 150px;
    }
    header .menu {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 0px;
        transition: height 0.3s linear;
    }
    header .menu li {
        display: flex;
        align-self: center;
        width: 100%;
        opacity: 0;
        visibility: hidden;
    }
    header .menu li a {
        width: 100%;
        text-align: center;
    }
    header .logo-img {
        height: 40px;
    }
    header .logo-caption {
        font-family: Mistral, cursive;
        color: rgb(204, 51, 51);
        font-size: 30px;
    }
    header .site-header__wrap nav{
        width: 300px;
    }
    header .site-header__wrap {
        display: flex;
        flex-direction: column;
    }
    .building section {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .building section a {
        background-color: rgb(184, 57, 57);
        flex-basis: 48%;
        margin-top: 40px;
        color: white;
    }
    .building section article h2 {
        padding: 10px 20px;
        font-size: 15px;
    }
    .building section article p {
        padding: 10px 20px;
    }
    .features section{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .features section article {
        padding-top: 30px;
        padding-bottom: 20px;
        flex-basis: 48%;
        text-align: center;
    }
    .news section h2 {
        padding-bottom: 0px;
    }
    .news section{
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .news section article {
        margin-top: 40px;
    }
    footer .site-footer__wrap{
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        flex-wrap: nowrap;
    }
    footer .site-footer__wrap .footer-item{
        text-align: center;
        margin: 10px 0;
    }
    footer .site-footer__wrap .describtion a{
        font-size: 40px;
    }
    footer .site-footer__wrap .describtion p{
        max-width: 100%;
        font-size: 12px;    
        line-height: 2;
    }
    footer .site-footer__wrap .contact-us ul{
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }
    footer .site-footer__wrap .contact-us ul li{
        margin: 10px auto;
    }
    footer .site-footer__wrap nav ul{
        width: 100%;
        font-size: 14px;    
        list-style-type: none;
        text-transform: uppercase;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    footer .site-footer__wrap nav ul li{
        margin: 5px 0;
    }
    footer .site-footer__wrap nav ul li a{
        text-decoration: none;
        color: #000;
        font-weight: bold;
    }
    footer .footer-copyright{
        flex-direction: column-reverse;
        text-align: center;
        padding: 10px 0px 20px;
        flex-wrap: nowrap;
    }
    footer .footer-copyright ul{
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 400px) {
    .building section a {
        flex-basis: 95%;
    }
}