* {
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
}

body, html {
    overflow-x: hidden;
}

.index-main{
    position: relative;
    z-index: 2;
}

.site-header-index {
    background-color: white;
    width: 100%;
    position: absolute;
    z-index: 2;
}

.background-picture{
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 1;
}

.main-title{
    text-align: center;
    margin: 235px auto;
    color: white;
    font-size: 30px;
    font-family: 'Istok Web', sans-serif;
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
}

.building{
    width: 100%;
    background-color: white;
}

.building section {
    max-width: 1230px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    bottom: 75px;
}

.building section a {
    background-color: rgb(184, 57, 57);
    text-decoration: none;
    color: white;
    padding-top: 30px;
    padding-bottom: 0px;
    flex-basis: 24%;
    position: relative;
    bottom: 0;
    transition: all 0.3s ease;
    vertical-align: bottom;
}

.building section a:hover{
    bottom: 20px;
}

.building section article h2 {
    padding: 10px 30px;
    line-height: 1.2;
    font-size: 17px;
}

.building section article p {
    padding: 10px 30px;
    line-height: 1.2;
}

.building section article img {
    width: 100%;
    margin: 0;
    vertical-align: middle;
}

.news{
    background-color: white;
    padding: 50px 5px;
}

.news section{
    max-width: 1230px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.news section h2 {
    flex-basis: 100%;
    padding-bottom: 40px;
}
.news section article {
    flex-basis: 32.5%;
}

.news section article h3 {
    margin: 15px 0;
    font-size: 15px;
    color: rgb(184, 51, 51);
}

.news section article p {
    font-size: 12px;
    margin-bottom: 15px;
    line-height: 1.6;
}

.news section article img {
    width: 100%;
    margin: 0;
}

.news section article a{
    font-size: 12px;
    background-color: black;
    color: white;
    padding: 8px 25px 7px;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 4px;
    transition: all 0.3s ease;
}

.news section article a:hover{
    background-color: rgb(184, 51, 51);
}

@media screen and (max-width: 765px) {
    .main-title{
        font-size: 15px;
    }
    .building section {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .building section a {
        background-color: rgb(184, 57, 57);
        flex-basis: 48%;
        margin-top: 40px;
        color: white;
    }
    .building section article h2 {
        padding: 10px 20px;
        font-size: 15px;
    }
    .building section article p {
        padding: 10px 20px;
    }
    .features section{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .features section article {
        padding-top: 30px;
        padding-bottom: 20px;
        flex-basis: 48%;
        text-align: center;
    }
    .news section h2 {
        padding-bottom: 0px;
    }
    .news section{
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .news section article {
        margin-top: 40px;
    }
}
@media screen and (max-width: 400px) {
    .building section a {
        flex-basis: 95%;
    }
}