html {
    overflow-y: scroll;
}

.bd-title {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    font-weight: 300;
    font-size: 2rem;
}

.bd-title-h3{
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    font-weight: 300;
    font-size: 1.5rem;
}

.container-custom{
    padding: 0 15px;
}

.card.order{
    margin: 10px 0px;
}